/* Estilos Gerais do Site */
body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4; /* Background da página */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: relative;
}

header .logo {
    height: 50px;
    vertical-align: middle; /* Ajusta o alinhamento vertical */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Barra de Pesquisa */
.search-container {
    position: absolute;
    right: 10px;
    top: 10px;
}

.search-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 5px 10px;
    border: none;
    background: #555;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para Gráficos */
.graph-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.graph {
    width: 45%;
    max-width: 600px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.graph img {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.graph h2 {
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

/* Backgrounds */
.page-background {
    background: url('assets/images/background2.jpg') no-repeat center center/cover;
}

.main-content {
    background-color: #fff; /* Cor de fundo das seções dentro do site */
    padding: 20px;
    border-radius: 8px;
}

.footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
